*{
    margin: 0;
    padding: 0;
}.fundo{
    background-image: -o-linear-gradient(45 deg, grey, black);
    height: 100vh;
    color: rgb(241, 191, 225);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.Calculadora{
    position: absolute;
    background-color: rgba(222, 219, 219, 0.7);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
}

.botao{
    width: 50px;
    height: 50px;
    margin: 3px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(241, 191, 225);
    border: none;
    color: rgb(255, 255, 255);
}
.botao:hover{
    background-color: grey;
    color: rgba(238, 232, 232, 0.336);
}

#resultado{
    background-color: white;
    width: 207px;
    height: 30px;
    margin: 5px;
    color: black;
    text-align: right;
    padding: 5px;
}